[Unit]
Description=Telegram Bot (user service)
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/telegram_bot
ExecStart=%h/telegram_bot/.venv/bin/python %h/telegram_bot/bot.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/etc/telegram_bot/telegram_bot.env

[Install]
WantedBy=default.target

